.radio-standard {
    display: inline-block;
    padding-right: 15px;
    label.form-radio-label {
        padding: 11px 20px 9px;
        text-align: center;
        border-radius: 4px;
    }
}
.radio-pill{
    display: inline-block;
    margin-left: 0px;
    &-start {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-top-left-radius: 25px !important;
        border-bottom-left-radius: 25px !important;
    }
    &-end{
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-right-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
    }
}
.radio-block {
    display: inline;
    padding-right: 15px;
    height: 110px;
    width: 100%;
    border-radius: 0%;
    label.form-radio-label {
        padding: 20px 20px 20px;
        border-radius: 4px;
        min-height: 95px;
    }
}